APScheduler
celery
discord-webhook
Flask<=2.2.2
Flask-Cors
Flask-Dropzone
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
gevent
gevent-websocket
Jinja2
json_fix
lxml
psutil
python-socketio<5.8.0
pycryptodome
pycryptodomex
pytz
pyyaml
redis
requests
SQLAlchemy
telepot-mod
Werkzeug<3.0
xmltodict